<header id="header">
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="offset-sm-3 col-sm-4">
          <div class="logo pull-left">
            <a href="<%= root_path %>">
              <span class="title active" id="posts"><h3>Posts</h3></span>
            </a>
          </div>
        </div>
        <div class="offset-sm-1 col-sm-4">
          <a href="<%=archived_posts_path %>" data-remote='true'>
            <span class="title" id="archive"><h3>Archive</h3></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>